

.clear {
    background-color: #33DD33;
}
.warning {
    background-color: #88DDFF;
}
.minor {
    background-color: #FFFF00;
}
.major {
    background-color: #FFBB44;
}
.critical {
    background-color: #FF6666;
}
.override {
    background-color: #DDDDDD;
}
.depends {
    background-color: #FFCC44;
}
.unknown {
    background-color: #DD99FF;
}

.clear-f {
    color: #22AA22;
}
.warning-f {
    color: #0088DD;
}
.minor-f {
    color: #CCCC00;
}
.major-f {
    color: #DD9900;
}
.critical-f {
    color: #CC0000;
}
.override-f {
    color: #888888;
}
.depends-f {
    color: #DD9900;
}
.unknown-f {
    color: #BB44EE;
}

/****************************************************************/

.footerargus {
    border-top:		1px solid #000;
    font-size:          75%;
    font-family:	Helvetica, Arial, sans-serif;
    color:              #876;
}
.footerargus a {
    color:              #876;
}

#infouser {
    padding:		2px;
    background-color: 	#dde;
    background:		radial-gradient(circle farthest-corner, #bbc, #dde)

}

.redbounce {
    color:		#c22;
}

.objectname {
    font-family: 	monospace;
    font-size: 		125%;
}

.logerror {
    background-color: 	#FF6666;
}
.logwarning {
    background-color: 	#FFBB44;
}

a.topnav {
    color:		#444;
}
a.topnav:hover {
    cursor: 		pointer;
}

#errormsg {
    background-color:	#f66;
    border:		3px solid #844;

}

/****************************************************************/

#statusinfo th {
    padding-right: 25px;
    padding-left: 25px;
}

#statusinfo, #darpinfo {
    font-size:		90%;
}

#stats td, #logs td {
    font-size:		85%;
    padding-left:	10px;
    padding-right:	10px;
}

table#stats, table#logs, table#notifies, table#darpinfo, table#loginform {
    padding-top:	25px;
}
table#loginform {
    padding-bottom:	50px;
}
#graphs {
    padding-top:	25px;
}

.tophome {
    padding-top:	25px;
    padding-bottom:	25px;
}

#logs tr:nth-child(even) {
    background-color:	#eef;
}

#stats .hilite {
    background-color: 	#eef;
}

.childsum span {
    margin-left:	5px;
    margin-right:	5px;
}
.childsum a, .childtop a {
    color:		#432;
}

.ui-tooltip {
    font-size:	75%;
}

/****************************************************************/

/* override info */
.overridediv {

    background: repeating-linear-gradient(
        315deg,
        #fff,
        #fff 25px,
        #fff0e0 25px,
        #fff0e0 50px
    );
}

.overridediv .heading {
    background-color: #eee;
}

/* override form */
#overridefoot {
	margin-top:		6px;
	font-style:		italic;
	font-size:		12px;
}

#notifydetailouter, #lofgileouter {
    background-color: 	rgba(0, 0, 0, 0.5);
    width:		100%;
    height:		100%;
    position:		absolute;
    top:		0;
    left:		0;
}
#overridedivouter {
    background-color: 	rgba(0, 0, 0, 0.5);
    width:		100%;
    height:		100%;
    position:		fixed;
    top:		0;
    left:		0;
}
#overridedivinner {
    width:		350px;
    margin-left:	100px;
    margin-top:		50px;
    padding-left:	50px;
    padding-top:	5px;
    padding-bottom:	10px;
    border-radius:	10px;
    -moz-border-radius:	10px;
    border:		3px solid #8ee;
    opacity:		1.0;
    background-color:	#eff;
}

#notifydetailinner, #lofgileinner {
    margin-left:	10px;
    margin-top:		10px;
    margin-right:	10px;
    padding:		25px;
    border-radius:	10px;
    -moz-border-radius:	10px;
    border:		3px solid #eca;
    opacity:		1.0;
    background-color:	#fffdfd;
}

.notifyhead {
    background-color:	#dde;
    font-size:		125%;
    margin-bottom:	10px;
}

.notifyuser {
    float:                  left;
    margin-right:           10px;
    margin-bottom:          10px;
    padding-left:           2px;
    padding-right:          2px;
    border:                 2px solid #aaa;
}

.notifylog tr:nth-child(even) {
    background-color:		#eef;
}
.notifylog td {
    padding-left:		10px;
    padding-right:		10px;
}

.buttdismiss {
    color:			#bbb;
}

/****************************************************************/

pre {
    background-color:	#fffffa;
    border:		1px dotted #eee;
    width:		350px;
    min-height:		40px;
}

input[name=url] {
    font-family:	monospaced;
    background: 	#ffe;
}
input[type=text], input[type=password] {
    width:		250px;
    background: 	#fff;
}
input[type=submit], input[type=button], a.button {
    font: 		14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-radius:	5px;
    -moz-border-radius:	5px;
    color: 		#446;
    background-color: 	#ffe;
}
a.button {
    border:		2px outset #bbb;
    padding:		3px;
    margin:		3px;
    cursor: 		pointer;
}

.buttcancel, .buttremove {
    background-color:	#fbb !important;
}
.buttsave {
    background-color:	#beb !important;
}

#statusinfobuttons td {
    padding:		2px;
    border:		1px outset #bbb;
    border-radius:	3px;
    -moz-border-radius:	3px;
/*    background-color:	#ddd;*/
    color:		#444;

}
#statusinfobuttons td:hover {
    background-color:	#fff;
}

textarea {
    width:		350px;
    min-height:		10em;
    background: 	#fff;
}

th {
    font-family:		Helvetica, Arial, sans-serif;
    text-align: left;
}

/****************************************************************/
/* animated buttons */
@-webkit-keyframes argus-bouncer {
  0%,6%,12%,18%,24%,100% {
    -webkit-transform: translate(0,0);
  }
  3% {
    -webkit-transform: translate(1px,-10px);
  }
  9% {
    -webkit-transform: translate(0px,8px);
  }
  15% {
    -webkit-transform: translate(0px,-5px);
  }
  21% {
    -webkit-transform: translate(1px,2px);
  }
}

@-moz-keyframes argus-bouncer {
  0%,6%,12%,18%,24%,100% {
    -moz-transform: translate(0,0);
  }
  3% {
    -moz-transform: translate(1px,-10px);
  }
  9% {
    -moz-transform: translate(0px,8px);
  }
  15% {
    -moz-transform: translate(0px,-5px);
  }
  21% {
    -moz-transform: translate(1px,2px);
  }
}

.redbounce {
    -webkit-animation: argus-bouncer 2s infinite;
    -moz-animation:    argus-bouncer 2s infinite;
}
.redbounce:hover {
    -webkit-animation: none;
    -moz-animation:    none;
}
